$wrapper {
  max-width: $contentWidth;
  margin: 0 auto;
  background-color: #FFF;

  @media (min-width: $MQNarrow) {
    padding: 1rem;
  }

  @media (max-width: $MQMobileNarrow) {
    padding: 0rem;
    font-size: 1rem;
  }
}
