@import ('./hover.styl');

div[class*='language-'] {
  border-radius: 0;
}

.navbar {
  border-bottom: none;
}

.theme-default-content:not(.custom) {
  max-width: 960px;
}

.custom-block.details {
  display: block;
  position: relative;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: #eee;
}

.bordered-box {
  position: relative;
  padding: 4px;
}

.bordered-box::before, .bordered-box::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid transparent;
  box-sizing: bordered-box;
}

.bordered-box::before {
  top: 0;
  left: 0;
  border-top-color: black;
  border-right-color: black;
}

.bordered-box::after {
  bottom: 0;
  right: 0;
  border-bottom-color: black;
  border-left-color: black;
}

.vssue .vssue-new-comment .vssue-new-comment-input {
  border-radius: 0;
  border: 2px solid #ccc;
  transition-delay: all 0.5s;

  &:focus {
    border-color: black;
    box-shadow: unset;
  }
}

.vssue .vssue-button {
  border-radius: 0;
}

.vssue .vssue-pagination .vssue-pagination-select {
  font-size: 0.7rem;

  &:focus {
    box-shadow: unset;
    border-color: #444;
  }
}

.vssue .vssue-comments .vssue-comment.vssue-comment-edit-mode .vssue-comment-main {
  box-shadow: unset;
  border-color: #444;
}

.vssue .vssue-comments .vssue-comment .vssue-comment-header {
  background-color: #444;
}

.vssue .vssue-comments .vssue-comment .vssue-comment-header, .vssue .vssue-comments .vssue-comment .vssue-comment-footer {
  border-radius: 0;
  border-color: #444;
}

.vssue .vssue-comments .vssue-comment .vssue-comment-main {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: none;
  border-top: none;
}

.vssue .vssue-comment-header a, .vssue-comment-created-at {
  color: white !important;
  text-transform: capitalize;
}

.vssue .vssue-header, .vssue .vssue-new-comment {
  border-bottom: none;
}

.vssue .vssue-new-comment .vssue-new-comment-input:disabled {
  background-color: initial;
}

.vssue-comment-footer {
  font-size: 1.2rem;
}

.TitleImage {
  display: block;
  margin: 16px auto 0;
  width: 690px;
  margin-top: 80px;
  margin-bottom: -96px;
}

.TitleImage--FullScreen {
  width: 100%;
  padding-bottom: 33.3%;
  background-size: cover;
  background-position: 50%;
}

*:target {
  padding-top: 96px;
}