div[class~="language-JavaScript"]:before
  content "js"

div[class~="language-TypeScript"]:before
  content "ts"

div[class~="language-Markup"]:before
  content "html"

div[class~="language-Markdown"]:before
  content "md"

div[class~="language-Json"]:before
  content "json"

div[class~="language-Ruby"]:before
  content "rb"

div[class~="language-Python"]:before
  content "py"

div[class~="language-Bash"]:before
  content "sh"

div[class~="language-Php"]:before
  content "php"

div[class~="language-Rust"]:before
  content "rust"
